@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f2f2;
  --foreground: #474554;
}

:root[class~='dark'] {
  --background: #474554;
  --foreground: #f2f2f2;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-site), system-ui, sans-serif;
}
